html,body, .content {
    height: 100%
}

.header {
}

.main {
}

.main h1, h2, h3, h4 {
    text-align: center
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px  
}

#wrapper {
    width : 100%
}

@media screen
and (min-width: 800px) {
    #wrapper {
        width : 550px
    }
}

img.logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
    max-height:4em;
    max-width:100%;
}